@page "/admin"
@{ Layout = null;}
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<!Doctype html>
<html>
<head>
    <title>USMALL Administration</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <base href="/"/>
</head>
<body>
    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>